---
import dayjs from 'dayjs';
const today = dayjs().format('MMM D, YYYY');
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Beb Todo</title>
	</head>
	<body>
		<h1>Tasks for {today}</h1>
		<task-list data-name="Anahita"></task-list>
		<task-list data-name="Luke"></task-list>

		<script>
			import '../elements/task-list.js';
			import '../elements/task-item.js';
		</script>
	</body>
</html>
