---
import TaskList from "../components/TaskList";
import { client } from "../db";

import dayjs from "dayjs";
const today = dayjs().format("MMM D, YYYY");

const name = Astro.cookies.get("name").value as "luke" | "anahita" | undefined;

const lukeId = await client.user.findFirst({ where: { name: "luke" } });
const anahitaId = await client.user.findFirst({ where: { name: "anahita" } });

console.log("name", name);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="style.css" />
		<title>Beb Todo</title>
	</head>
	<body>
		<header>
			<h1>Tasks for <time>{today}</time></h1>
			<options-menu></options-menu>
		</header>
		<main>
			<TaskList client:load name="luke" userId="1" />
			<TaskList client:load name="anahita" userId="1" />
			{
				/*{*/
				/*name === "luke" ? (*/
				/*<>*/
				/*<luke-list />*/
				/*<anahita-list />*/
				/*</>*/
				/*) : (*/
				/*<>*/
				/*<anahita-list />*/
				/*<luke-list />*/
				/*</>*/
				/*)*/
				/*}*/
			}
		</main>

		<script>
			/*import "../elements/anahita-list.js";*/
			/*import "../elements/luke-list.js";*/
			/*import "../elements/task-list.js";*/
			import "../elements/task-item.js";
			import "../elements/options-menu.js";
			import "../elements/task-options.js";
		</script>
	</body>
</html>
